{{>partials/header}}

<div class="form">
    <form action="/etapa5" id="form_etapa5" method="POST">
        <h4>Formato das Unhas</h4>
        <input type="hidden" id="id_cliente" name="id_cliente" value="{{id_cliente}}">
        <div class="row">
            <div class="col-md-3 text-center">
                <label for="unha_caracol">
                    <img src="/images/unha_caracol.png" alt="Unha Caracol" class="img-fluid mb-2">
                    <p>Unha Caracol</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <label for="unha_cunha">
                    <img src="/images/unha_cunha.png" alt="Unha Cunha" class="img-fluid mb-2">
                    <p>Unha Cunha</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <label for="unha_funil">
                    <img src="/images/unha_funil.png" alt="Unha Funil" class="img-fluid mb-2">
                    <p>Unha Funil</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <label for="unha_gancho">
                    <img src="/images/unha_gancho.png" alt="Unha Gancho" class="img-fluid mb-2">
                    <p>Unha Gancho</p>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <label for="unha_involuta">
                    <img src="/images/unha_involuta.png" alt="Unha Involuta" class="img-fluid mb-2">
                    <p>Unha Involuta</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <label for="unha_normal">
                    <img src="/images/unha_normal.png" alt="Unha Normal" class="img-fluid mb-2">
                    <p>Unha Normal</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <label for="unha_telha">
                    <img src="/images/unha_telha.png" alt="Unha Telha" class="img-fluid mb-2">
                    <p>Unha Telha</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <label for="unha_torques">
                    <img src="/images/unha_torques.png" alt="Unha Torques" class="img-fluid mb-2">
                    <p>Unha Torques</p>
                </label>
            </div>
        </div>

        <div class="titulo2 text-center">
            <h2>Artelhos</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-2">
                <h3>PD</h3>
                <div class="form-check">
                    <label class="form-check-label" for="halux_pd">Hálux</label>
                    <select name="PD_halux" id="PD_halux" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="2_pd">2°</label>
                    <label class="form-check-label" for="halux_pd">Hálux</label>
                    <select name="PD_2" id="PD_2" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="3_pd">3°</label>
                    <select name="PD_3" id="PD_3" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="4_pd">4°</label>
                    <select name="PD_4" id="PD_4" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="5_pd">5°</label>
                    <select name="PD_5" id="PD_5" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <h3>PE</h3>
                <div class="form-check">
                    <label class="form-check-label" for="halux_pe">Hálux</label>
                    <select name="PE_halux" id="PE_halux" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="2_pe">2°</label>
                    <select name="PE_2" id="PE_2" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="3_pe">3°</label>
                    <select name="PE_3" id="PE_3" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="4_pe">4°</label>
                    <select name="PE_4" id="PE_4" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="5_pe">5°</label>
                    <select name="PE_5" id="PE_5" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>
            </div>
        </div>

      <div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-light">
            <h5 class="mb-0">Alterações Ungueais</h5>
        </div>
        <div class="card-body">
           <div class="row g-2">
    <div class="col-md-4 col-lg">
        <label class="d-flex align-items-center p-3 border rounded hover-bg-light cursor-pointer h-100">
            <input class="form-check-input me-3" type="checkbox" id="Onicoatrofia" name="Onicoatrofia" value="true" >
            <span>Onicoatrofia</span>
        </label>
    </div>
    <div class="col-md-4 col-lg">
        <label class="d-flex align-items-center p-3 border rounded hover-bg-light cursor-pointer h-100">
            <input class="form-check-input me-3" type="checkbox" id="Onicocriptose" name="Onicocriptose" value="true" >
            <span>Onicocriptose</span>
        </label>
    </div>
    <div class="col-md-4 col-lg">
        <label class="d-flex align-items-center p-3 border rounded hover-bg-light cursor-pointer h-100">
            <input class="form-check-input me-3" type="checkbox" id="Onicorrexe" name="Onicorrexe" value="true" >
            <span>Onicorrexe</span>
        </label>
    </div>
    <div class="col-md-4 col-lg">
        <label class="d-flex align-items-center p-3 border rounded hover-bg-light cursor-pointer h-100">
            <input class="form-check-input me-3" type="checkbox" id="Granuloma" name="Granuloma" value="true">
            <span>Granuloma</span>
        </label>
    </div>
    <div class="col-md-4 col-lg">
        <label class="d-flex align-items-center p-3 border rounded hover-bg-light cursor-pointer h-100">
            <input class="form-check-input me-3" type="checkbox" id="Onicogrifose" name="Onicogrifose" value="true">
            <span>Onicogrifose</span>
        </label>
    </div>
    <div class="col-md-4 col-lg">
        <label class="d-flex align-items-center p-3 border rounded hover-bg-light cursor-pointer h-100">
            <input class="form-check-input me-3" type="checkbox" id="Onicolise" name="Onicolise" value="true">
            <span>Onicolise</span>
        </label>
    </div>
    <div class="col-md-4 col-lg">
        <label class="d-flex align-items-center p-3 border rounded hover-bg-light cursor-pointer h-100">
            <input class="form-check-input me-3" type="checkbox" id="Onicofose" name="Onicofose" value="true">
            <span>Onicofose</span>
        </label>
    </div>
    <div class="col-md-4 col-lg">
        <label class="d-flex align-items-center p-3 border rounded hover-bg-light cursor-pointer h-100">
            <input class="form-check-input me-3" type="checkbox" id="Psoriase_ungueal" name="Psoriase_ungueal" value="true">
            <span>Psoríase Ungueal</span>
        </label>
    </div>
    <div class="col-md-4 col-lg">
        <label class="d-flex align-items-center p-3 border rounded hover-bg-light cursor-pointer h-100">
            <input class="form-check-input me-3" type="checkbox" id="Onicomicose" name="Onicomicose" value="true">
            <span>Onicomicose</span>
        </label>
    </div>
</div>

            
            <div class="mt-4">
                <label for="outras_alteracoes" class="form-label fw-medium">Outras alterações ungueais</label>
                <textarea class="form-control" id="outras_alteracoes" name="outras_alteracoes" rows="3" 
                    placeholder="Descreva outras alterações observadas..."></textarea>
            </div>
        </div>
    </div>
</div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Próximo</button>
        </div>
    </form>
</div>

{{>partials/footer}}
